@model BancolombiaTest.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NitCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NitCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gerenciado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gerenciado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOficina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOficina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Afil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Afil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoMed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoMed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CtaCamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CtaCamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodVentas_FK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodVentas_FK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodSegmento_FK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodSegmento_FK)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
